<!DOCTYPE html>
<html lang="en">
<head>
  <title>Places</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/categories.css">  

<!--   <script defer src="/staticassets/fontawesome-all.js"></script>
-->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
    <div class="container-fluid" id="naviContainer">
   <div class="row no-gutters" id="topheader">
      <div class="col-xs-6" id="history">

      </div>
      <div class="col-xs-6" id="hamburger">

         <nav class="navbar navbar-dark navbar-1 white">
            <button class="navbar-toggler" id="navbtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="/page_B">Home</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/userprofile">Profile</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/help">Help</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
</div>

    
<div class="container contentbox">
  <div class="row">

{{#if places}}
<h3 id="title" class="mx-auto"><b>Places</b></h3>
<div class="dropdown" id="filter">
  <button class="btn btn-secondary dropdown-toggle" id="filterBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" id="fName">Name</a>
    <a class="dropdown-item" href="#" id="fPrice">Price</a>
    <a class="dropdown-item" href="#" id="fRating">Accessbility Rating</a>
  </div>
</div>
{{/if}}
</div>
<hr>
{{#each places}}
<div class="store">
<img class="img-responsive" src="{{storePhotos}}">
  <div class="hiddenForm">
  <form action="/storeProfile" method="post" id="myForm">
    <input type="hidden" name="hiddenStorePhotos" value="{{storePhotos}}">
    <input type="hidden" name="hiddenName" value="{{name}}">
    <input type="hidden" name="hiddenDescription" value="{{description}}">
    <input type="hidden" name="hiddenPhoneNumber" value="{{phoneNumber}}">
    <input type="hidden" name="hiddenStoreHours" value="{{storeHours}}">
    <input type="hidden" name="hiddenPriceRange" value="{{priceRange}}">
    <input type="hidden" name="hiddenAddress" value="{{address}}">
    <input type="hidden" name="hiddenAccessibility" value="{{accessibilityRating}}">
    <input type="hidden" name="hiddenMapImage" value="{{mapImage}}">   
    <button type="submit" id="storename"> {{name}} </button>
  </form>
</div>
<!-- <a id="anchorID">
<p id="accesibilityRating">Accessibility Rating: {{accessibilityRating}}</p> -->
<!--<p id="hiddenRating" class="hidden">{{accessibilityRating}}</p>-->
<div class="stars" id="stars">
  <span class="fa fa-star fa-2x checked"></span>
  <span class="fa fa-star fa-2x checked"></span>
  <span class="fa fa-star fa-2x checked"></span>
  <span class="fa fa-star fa-2x"></span>
  <span class="fa fa-star fa-2x"></span>
  <div class="rate">
    <p class="num"><b>{{accessibilityRating}}</b> / 5</p>
    <a data-toggle="popover" title="Signs and Directories" data-content="Signs and Directories" data-placement="bottom" class="ml-2"><i class="fa fa-question-circle fa-sm" style="color: lightgray;"></i></a>
  </div>
</div>
   <hr id="short">
   <div class="storeinfo">
      <p id="description">{{description}}</p>
      <p id="address">{{address}}</p>
      <p id="phoneNumber">{{phoneNumber}}</p>
      <p id="storeHours">{{storeHours}}</p>
      <p id="priceRange">{{priceRange}}</p>
   </div>
<!-- </a> -->
</div>
<hr>
{{else}}
  <h1>Oops!</h1>
  <br>
  <i class="fa fa-frown fa-8x"></i><br><br>
  <a class="btn btn-primary" href="/page_B" role="button">Back to home</a>
<!--   <button type="button" class="btn-primary" style="text-align: center" id="homebutton"> Go back to home page! </a> -->

{{/each}}
</div>


<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('#anchorID').click(function(){
      document.getElementById('myForm').submit()});
  });
</script>
 -->


<script type="text/javascript">
  $(document).ready(function() {
    $('#fName').click(function(e){
      e.preventDefault();
      var sortOn = getQueryVariable('sortOn');
      var sortOrder = getQueryVariable('sortOrder');
      var newUrl = null;
      if (sortOn && sortOrder) {
        newUrl = window.location.href.replace('sortOn='+sortOn, 'sortOn=name');
        newUrl = newUrl.replace('sortOrder='+sortOrder, 'sortOrder=asc');
      } else {
        newUrl = window.location.href + '&sortOn=name&sortOrder=asc';
      }
      window.location.replace(newUrl);
    });
    $('#fPrice').click(function(e){
      e.preventDefault();
      var sortOn = getQueryVariable('sortOn');
      var sortOrder = getQueryVariable('sortOrder');
      var newUrl = null;
      if (sortOn && sortOrder) {
        newUrl = window.location.href.replace('sortOn='+sortOn, 'sortOn=priceRange');
        newUrl = newUrl.replace('sortOrder='+sortOrder, 'sortOrder=asc');
      } else {
        newUrl = window.location.href + '&sortOn=priceRange&sortOrder=asc';
      }
      window.location.replace(newUrl);
    });
    $('#fRating').click(function(e){
      e.preventDefault();
      var sortOn = getQueryVariable('sortOn');
      var sortOrder = getQueryVariable('sortOrder');
      var newUrl = null;
      if (sortOn && sortOrder) {
        newUrl = window.location.href.replace('sortOn='+sortOn, 'sortOn=accessibilityRating');
        newUrl = newUrl.replace('sortOrder='+sortOrder, 'sortOrder=desc');
      } else {
        newUrl = window.location.href + '&sortOn=accessibilityRating&sortOrder=asc';
      }
      window.location.replace(newUrl);
    });

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
          }
        }
       return null;
      }
  });
  var rating = $('#hiddenRating').html();
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover(); 
      $('#submit').click(function(){
        document.getElementById('rating').reset();
      });
      var starsHtml = '';
      for (var i = 0; i < rating; i++){
        starsHtml += '<span class="fa fa-star fa-2x checked"></span>'
      }
      for (var i = 0; i < 5 - rating; i++){
        starsHtml += '<span class="fa fa-star fa-2x"></span>'
      }
      $("#stars").html(starsHtml);
    });
</script>
<!--   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>