<!DOCTYPE html>
<html lang="en">
<head>
  <title>Store Profile</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="/css/index.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/storeprofile.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>

</head>
<body>
<div class="container-fluid" id="naviContainer">
   <div class="row no-gutters" id="topheader">
      <div class="col-xs-6" id="history">
         <!-- <a class="nav navbar-nav navbar-left" href="/history"><i class="fas fa-history"></i></a> -->
      </div>
      <div class="col-xs-6" id="hamburger">
         <!-- navbar -->
         <nav class="navbar navbar-dark navbar-1 white">
            <button class="navbar-toggler" id="navbtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="/page_B">Home</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/userprofile">Profile</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/help">Help</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
</div>
<!-- Collapsible content -->
<div class="text-center">
   {{#each projects}}
   <div class="hiddenForm">
         <form action="/map" method="get">
            <input type="hidden" name="hiddenAddress" value="{{address}}">
            <input type="hidden" name="hiddenMapImage" value="{{mapImage}}">
            <button type="submit" id="buttonPreview" class="btn-outline"><img class="img-responsive" src="{{mapImage}}" id="mapPreview" alt="preview"/></button>
            <!-- <br> -->
            <!-- <img class="img-responsive" src="{{mapImage}}" id="mapPreview" alt="preview"/> -->
<!--             <br>
            <img src="bookstoreBlack.png" alt="preview" id="imgMap"/> -->
         </form>
      </div>
   <div class="store">
      <!--<img class="img-responsive" src="{{storePhotos}}">-->
      <a href="/storeProfile" id="name" value="{{name}}">
         <h3>{{name}}</h3>
      </a>
      <p id="accesibilityRating">{{accesibilityRating}}</p>


      <!--   <a href="#"><button class="btn-outline-dark" id="try"> Click </button></a>
         -->  
      
      <hr id="short">
      <div class="info">
         <p id="description">{{description}}</p>
         <p id="address">{{address}}</p>
         <p id="phoneNumber">{{phoneNumber}}</p>
         <p id="storeHours">{{storeHours}}</p>
         <p id="priceRange">{{priceRange}}</p>
      </div>
      <hr id="short">
      
      <div class="text-center" id="storeRate">
         <h6>How accessible is this store?</h6>
         <form class="star-rating">
            <input type="radio" name="rating" value="1"><i></i>
            <input type="radio" name="rating" value="2"><i></i>
            <input type="radio" name="rating" value="3"><i></i>
            <input type="radio" name="rating" value="4"><i></i>
            <input type="radio" name="rating" value="5"><i></i>
         </form>
      </div>
      <div class="text-center">
         <button type="submit" class="btn btn-primary mt-4" id="submit">Submit</button>
      </div>
      {{/each}}
   </div>
</div>


<form>
  <div class="switch-field">
      <div class="rating-type switch-title">
        <p>Handicap Accessibility</p>
        <a data-toggle="popover" title="Handicap Accessibility" data-content="Information on accessibility" data-placement="bottom" class="ml-2"><i class="fa fa-info-circle"></i></a>
      </div>
      <input type="radio" id="ha1" name="switch_1" value="1" checked/>
      <label for="ha1">1</label>
      <input type="radio" id="switch_3_2" name="switch_1" value="2" />
      <label for="switch_3_2">2</label>
      <input type="radio" id="switch_3_3" name="switch_1" value="3" />
      <label for="switch_3_3">3</label>
      <input type="radio" id="switch_3_4" name="switch_1" value="4" />
      <label for="switch_3_4">4</label>
      <input type="radio" id="switch_3_right" name="switch_1" value="5" />
      <label for="switch_3_right">5</label>
    </div>
    <div class="switch-field">
      <div class="rating-type switch-title">
        <p>Signs and Directories</p>
        <a data-toggle="popover" title="Handicap Accessibility" data-content="Information on accessibility" data-placement="bottom" class="ml-2"><i class="fa fa-info-circle"></i></a>
      </div>
      <input type="radio" id="sd1" name="switch_2" value="1" checked/>
      <label for="sd1">1</label>
      <input type="radio" id="sd2" name="switch_2" value="2" />
      <label for="sd2">2</label>
      <input type="radio" id="sd3" name="switch_2" value="3" />
      <label for="sd3">3</label>
      <input type="radio" id="sd4" name="switch_2" value="4" />
      <label for="sd4">4</label>
      <input type="radio" id="switch_4_right" name="switch_2" value="5" />
      <label for="switch_4_right">5</label>
    </div>
    
</form>

<div class="text-center">
         <button type="submit" class="btn btn-primary mt-4" id="submit">Submit</button>
      </div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>